{
  "openapi": "3.1.0",
  "info": {
    "title": "AEE Executor Run",
    "version": "1.2.0",
    "description": "AEE Runtime Bridge executor dispatch tool. Exposes read-only capability discovery via GET /executors, and dispatches an explicit executor (claude-code-cli or hermes) via POST /runs/executor, running the worker prompt verbatim and returning a full evidence envelope: selected_executor, routing decision, run_id, task_id, status, progress, artifact_paths, stdout_summary, stderr_summary, exit_code, timeout_state, cancel_state, git_evidence, artifact_verification, telegram_result, and runtime_identity. When executor=claude-code-cli the real Claude Code CLI is invoked and its selection is honored (no silent MiniMax-M3 override)."
  },
  "servers": [
    {
      "url": "https://hermes-runtime.biaobecue.com",
      "description": "Public HTTPS root origin of the AEE Runtime Bridge (cloudflared tunnel -> 127.0.0.1:8787). Root origin only; no endpoint path."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token from AEE_BRIDGE_TOKEN (or BRIDGE_API_KEY / GPT_BRIDGE_API_KEY) configured on the bridge host. Never embed the token value in the GPT; set it in the Action's Authorization header."
      }
    },
    "schemas": {
      "ExecutorRunRequest": {
        "type": "object",
        "required": ["prompt"],
        "additionalProperties": false,
        "properties": {
          "executor": {
            "type": "string",
            "description": "Executor to dispatch to. Accepted aliases canonicalise to 'claude-code-cli': 'claude-code-cli', 'claude_code', 'claude-code'. Use 'hermes' for the legacy Hermes provider. If omitted, the configured default executor (claude-code-cli) is used.",
            "example": "claude-code-cli"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64000,
            "description": "The worker prompt, forwarded verbatim (never rewritten by the bridge).",
            "example": "Use the write tool to create /tmp/aee_executor_smoke.md with content: hello from claude-code-cli"
          },
          "expected_artifacts": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Absolute paths the run is expected to produce; each is stat()'d and returned in artifact_verification.",
            "example": ["/tmp/aee_executor_smoke.md"]
          },
          "timeout_sec": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Run deadline in seconds. Falls back to the configured default (120), capped at max_timeout_sec (7200).",
            "example": 120
          },
          "repo_path": {
            "type": "string",
            "description": "Working directory for the executor / repo for read-only git evidence. Must lie inside the configured repo allow-list (any path under /home/ubuntu, and /tmp). If omitted, defaults to /home/ubuntu/Abacus.",
            "example": "/home/ubuntu/Abacus"
          },
          "max_turns": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Override the configured Claude Code CLI --max-turns (default 50).",
            "example": 10
          }
        }
      },
      "RoutingDecision": {
        "type": "object",
        "description": "Truthful executor routing decision. was_forced is always false on this endpoint (the GPT->MiniMax-M3 routing layer is never consulted).",
        "properties": {
          "requested_executor": { "type": ["string", "null"] },
          "selected_executor": { "type": "string" },
          "effective_executor": { "type": "string" },
          "selection_source": { "type": "string", "description": "explicit | default" },
          "was_forced": { "type": "boolean" },
          "reason": { "type": "string" },
          "effective_model": { "type": ["string", "null"] }
        }
      },
      "ArtifactVerification": {
        "type": "object",
        "properties": {
          "path": { "type": "string" },
          "exists": { "type": "boolean" },
          "size": { "type": ["integer", "null"] },
          "mtime": { "type": ["integer", "null"] },
          "sha256": { "type": ["string", "null"] }
        }
      },
      "GitEvidence": {
        "type": "object",
        "properties": {
          "head_sha": { "type": ["string", "null"] },
          "branch": { "type": ["string", "null"] },
          "dirty": { "type": ["boolean", "null"] },
          "staged_file_count": { "type": "integer" },
          "repo_path": { "type": ["string", "null"] }
        }
      },
      "TelegramResult": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message_id": { "type": ["integer", "null"] },
          "recipient": { "type": ["string", "null"] },
          "skipped": { "type": ["string", "null"], "description": "Present when success is false; the concrete skip/failure reason." }
        }
      },
      "RuntimeIdentity": {
        "type": "object",
        "description": "Factual runtime identity metadata for the run. Every field is a real, discovered value or null / 'unknown' when its source is unavailable — never fabricated.",
        "properties": {
          "provider": { "type": ["string", "null"], "description": "Display name of the selected executor's provider, e.g. 'Claude Code' or 'Hermes'. 'unknown' when the executor is not recognised.", "example": "Claude Code" },
          "provider_version": { "type": ["string", "null"], "description": "Provider version string when discoverable; null otherwise.", "example": "2.1.216 (Claude Code)" },
          "executor_binary": { "type": ["string", "null"], "description": "Absolute path of the executor binary (claude-code-cli only); null for executors without a local binary.", "example": "/home/ubuntu/.local/bin/claude" },
          "executor_version": { "type": ["string", "null"], "description": "Version reported by the executor binary (`<binary> --version`); null when unavailable.", "example": "2.1.216 (Claude Code)" },
          "runtime_bridge_version": { "type": "string", "description": "Bridge software version; 'unknown' until a version stamp is shipped.", "example": "unknown" },
          "bridge_commit": { "type": ["string", "null"], "description": "HEAD sha of the bridge git worktree; null when not a git worktree.", "example": "07aefcb91fa11bd8dc6c8f4814ca3bc1fdb715d7" },
          "bridge_branch": { "type": ["string", "null"], "description": "Current branch of the bridge worktree; null when unavailable.", "example": "master" },
          "bridge_repository": { "type": ["string", "null"], "description": "Remote origin URL if configured, else the local bridge repo path.", "example": "/home/ubuntu/hermes-runtime-bridge" },
          "generated_at_utc": { "type": "string", "description": "ISO-8601 UTC timestamp of identity collection.", "example": "2026-07-21T06:40:37Z" }
        }
      },
      "ExecutorsResponse": {
        "type": "object",
        "description": "Read-only capability discovery (GET /executors). Lists supported executors, the configured default, and the alias map that canonicalises a requested name to its wire value. No side effects.",
        "required": ["supported_executors", "default_executor", "aliases"],
        "properties": {
          "supported_executors": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Executors this bridge currently supports.",
            "example": ["claude-code-cli", "hermes"]
          },
          "default_executor": {
            "type": ["string", "null"],
            "description": "The configured default executor used when POST /runs/executor omits `executor`.",
            "example": "claude-code-cli"
          },
          "aliases": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Map of accepted alias -> canonical wire value. Identity self-maps are excluded.",
            "example": {
              "claude_code": "claude-code-cli",
              "claude-code": "claude-code-cli",
              "claudecode": "claude-code-cli"
            }
          }
        }
      },
      "ExecutorRunResponse": {
        "type": "object",
        "required": [
          "selected_executor", "requested_executor", "run_id", "task_id",
          "status", "progress", "routing", "artifact_paths",
          "stdout_summary", "stderr_summary", "exit_code",
          "timeout_state", "cancel_state", "git_evidence",
          "artifact_verification", "telegram_result", "runtime_identity"
        ],
        "properties": {
          "selected_executor": { "type": "string", "example": "claude-code-cli" },
          "requested_executor": { "type": ["string", "null"], "example": "claude-code-cli" },
          "run_id": { "type": "string" },
          "task_id": { "type": ["string", "null"] },
          "status": { "type": "string", "enum": ["queued", "running", "completed", "failed", "timeout", "cancelled"] },
          "progress": { "type": "number", "format": "float", "minimum": 0, "maximum": 1 },
          "routing": { "$ref": "#/components/schemas/RoutingDecision" },
          "artifact_paths": { "type": "array", "items": { "type": "string" } },
          "stdout_summary": { "type": "string" },
          "stderr_summary": { "type": "string" },
          "exit_code": { "type": ["integer", "null"] },
          "timeout_state": { "type": ["string", "null"], "description": "exceeded | null" },
          "cancel_state": { "type": ["string", "null"], "description": "requested | null" },
          "git_evidence": { "anyOf": [ { "$ref": "#/components/schemas/GitEvidence" }, { "type": "null" } ] },
          "artifact_verification": { "type": "array", "items": { "$ref": "#/components/schemas/ArtifactVerification" } },
          "telegram_result": { "$ref": "#/components/schemas/TelegramResult" },
          "runtime_identity": { "anyOf": [ { "$ref": "#/components/schemas/RuntimeIdentity" }, { "type": "null" } ] },
          "error": { "type": ["string", "null"] }
        }
      },
      "UnsupportedExecutorError": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "example": "unsupported_executor" },
          "message": { "type": "string" },
          "supported_executors": { "type": "array", "items": { "type": "string" }, "example": ["claude-code-cli", "hermes"] }
        }
      },
      "RunStatusResponse": {
        "type": "object",
        "description": "Read-only run status envelope returned by GET /runs/{run_id}. Tracks both Hermes async runs and Claude Code runs without launching a new executor. Populated by POST /runs/executor (the executor_runs store) or by the dispatcher tasks table (legacy POST /runs).",
        "required": ["run_id", "selected_executor", "status", "progress"],
        "properties": {
          "run_id": { "type": "string", "description": "The run identifier echoed back." },
          "requested_executor": { "type": ["string", "null"], "description": "Executor the caller requested (null when dispatched via legacy POST /runs)." },
          "selected_executor": { "type": "string", "description": "Executor that handled the run (claude-code-cli or hermes); 'hermes' for legacy dispatcher runs." },
          "task_id": { "type": ["string", "null"], "description": "Dispatcher task id when the run went through the dispatcher tasks table; null for executor_runs-only runs." },
          "status": { "type": "string", "enum": ["queued", "started", "running", "completed", "failed", "cancelled", "timeout", "unknown"], "description": "Current run state. 'unknown' is reserved for legacy dispatcher rows with an unrecognised status string." },
          "progress": { "type": "number", "format": "float", "minimum": 0, "maximum": 1, "description": "0.0 to 1.0; 1.0 for terminal states." },
          "exit_code": { "type": ["integer", "null"], "description": "Process exit code when available (claude-code-cli); null for hermes async runs." },
          "timeout_state": { "type": ["string", "null"], "description": "'exceeded' when the run hit its deadline; null otherwise." },
          "cancel_state": { "type": ["string", "null"], "description": "'requested' when the run was cancelled; null otherwise." },
          "stdout_summary": { "type": "string", "description": "Truncated stdout from the run (claude-code-cli); empty for hermes async runs." },
          "stderr_summary": { "type": "string", "description": "Truncated stderr from the run (claude-code-cli); empty for hermes async runs." },
          "artifact_paths": { "type": "array", "items": { "type": "string" }, "description": "Absolute paths of artifacts the run produced (claude-code-cli); empty for hermes async runs." },
          "artifact_verification": { "type": "array", "items": { "$ref": "#/components/schemas/ArtifactVerification" }, "description": "Per-path exists/size/mtime/sha256 stat for declared expected_artifacts." },
          "git_evidence": { "anyOf": [ { "$ref": "#/components/schemas/GitEvidence" }, { "type": "null" } ] },
          "telegram_result": { "$ref": "#/components/schemas/TelegramResult" },
          "runtime_identity": { "anyOf": [ { "$ref": "#/components/schemas/RuntimeIdentity" }, { "type": "null" } ] },
          "routing": { "type": "object", "description": "Routing decision recorded at dispatch time; empty object for legacy dispatcher runs." },
          "error": { "type": ["string", "null"], "description": "Error message for failed runs; null otherwise." },
          "created_at": { "type": ["string", "null"], "description": "ISO-8601 UTC timestamp when the run was first persisted." },
          "updated_at": { "type": ["string", "null"], "description": "ISO-8601 UTC timestamp of the last status update." },
          "completed_at": { "type": ["string", "null"], "description": "ISO-8601 UTC timestamp when the run reached a terminal state; null while running." },
          "source": { "type": "string", "enum": ["executor_runs", "dispatcher_tasks"], "description": "Which store served the response: 'executor_runs' (POST /runs/executor) or 'dispatcher_tasks' (legacy POST /runs)." },
          "is_terminal": { "type": "boolean", "description": "True when status is completed/failed/cancelled/timeout." }
        }
      },
      "MalformedRunIdError": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "example": "malformed_run_id" },
          "message": { "type": "string" }
        }
      },
      "UnknownRunIdError": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "example": "unknown_run_id" },
          "message": { "type": "string" },
          "run_id": { "type": "string" }
        }
      },
      "RunSummaryItem": {
        "type": "object",
        "description": "Canonical summary of a single executor run, as persisted in the durable executor_runs store. All fields are read directly from persisted state; GET /runs never launches an executor, polls upstream, or mutates run state.",
        "properties": {
          "run_id": { "type": "string", "description": "Stable run identifier (ULID-style)." },
          "requested_executor": { "type": ["string", "null"], "description": "Executor requested by the caller; null when omitted (default executor)." },
          "selected_executor": { "type": "string", "description": "Executor actually selected by the routing layer (claude-code-cli or hermes)." },
          "status": { "type": "string", "description": "Canonical run status: queued, started, running, completed, failed, timeout, or cancelled." },
          "progress": { "type": ["integer", "null"], "description": "0..100 progress percent, if available." },
          "created_at": { "type": ["string", "null"], "format": "date-time", "description": "ISO-8601 timestamp the run was created." },
          "updated_at": { "type": ["string", "null"], "format": "date-time", "description": "ISO-8601 timestamp the run was last updated." },
          "completed_at": { "type": ["string", "null"], "format": "date-time", "description": "ISO-8601 timestamp the run reached a terminal state; null while in flight." },
          "is_terminal": { "type": "boolean", "description": "True when status is completed, failed, timeout, or cancelled." },
          "source": { "type": ["string", "null"], "description": "Origin of the run (e.g. 'gpt', 'cron', 'api')." },
          "artifact_paths": { "type": "array", "items": { "type": "string" }, "description": "Absolute filesystem paths the run was expected to produce (may be empty)." },
          "error": { "type": ["string", "null"], "description": "Terminal error message, if any; null when no error." }
        }
      },
      "RunListResponse": {
        "type": "object",
        "description": "Envelope returned by GET /runs. items are ordered newest-first by created_at with a deterministic tie-breaker on run_id (DESC). count is the number of items returned (may be less than limit). limit is the effective limit applied. filters echoes the active filter values (null when not supplied).",
        "required": ["items", "count", "limit", "filters"],
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/RunSummaryItem" } },
          "count": { "type": "integer", "description": "Number of items in items (count <= limit)." },
          "limit": { "type": "integer", "description": "Effective limit applied to this response (1..100)." },
          "filters": {
            "type": "object",
            "description": "Echo of the active filter values; each is null when not supplied.",
            "properties": {
              "status": { "type": ["string", "null"] },
              "executor": { "type": ["string", "null"] },
              "since": { "type": ["string", "null"], "format": "date-time" }
            }
          }
        }
      },
      "InvalidStatusError": {
        "type": "object",
        "description": "Returned with HTTP 400 when the status query parameter is not a canonical run status.",
        "required": ["code", "message", "valid_statuses"],
        "properties": {
          "code": { "type": "string", "enum": ["invalid_status"] },
          "message": { "type": "string" },
          "valid_statuses": { "type": "array", "items": { "type": "string" } }
        }
      },
      "InvalidSinceError": {
        "type": "object",
        "description": "Returned with HTTP 400 when the since query parameter is not a parseable ISO-8601 timestamp.",
        "required": ["code", "message"],
        "properties": {
          "code": { "type": "string", "enum": ["invalid_since"] },
          "message": { "type": "string" }
        }
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ],
  "paths": {
    "/runs": {
      "get": {
        "summary": "List recent runs",
        "description": "Read-only list of recent executor runs from the durable executor_runs store, newest-first. Does NOT launch an executor, poll upstream, mutate state, or scan the repo. Supports filtering by status, executor, and created_at >= since. limit defaults to 20 (range 1..100).",
        "operationId": "aee_list_runs",
        "tags": [{"name": "runs"}, {"name": "read-only"}],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}, "description": "Maximum number of runs to return (1..100)."},
          {"name": "status", "in": "query", "required": false, "schema": {"type": "string", "enum": ["queued", "started", "running", "completed", "failed", "timeout", "cancelled"]}, "description": "Filter by canonical run status."},
          {"name": "executor", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter by selected_executor (e.g. claude-code-cli or hermes)."},
          {"name": "since", "in": "query", "required": false, "schema": {"type": "string", "format": "date-time"}, "description": "ISO-8601 timestamp; only runs with created_at >= since are returned."}
        ],
        "responses": {
          "200": {
            "description": "Recent runs, newest-first.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RunListResponse"}}}
          },
          "400": {
            "description": "Invalid status or since filter value.",
            "content": {"application/json": {"schema": {"oneOf": [{"$ref": "#/components/schemas/InvalidStatusError"}, {"$ref": "#/components/schemas/InvalidSinceError"}]}}}
          },
          "401": {"description": "Missing or invalid bearer token."},
          "422": {"description": "limit out of range (FastAPI validation error)."}
        }
      }
    },
    "/executors": {
      "get": {
        "summary": "Read-only executor capability discovery.",
        "description": "Read-only capability discovery. Lists supported executors, the configured default, and the alias map. No dispatch, no side effects. Call before POST /runs/executor.",
        "operationId": "aee_list_executors",
        "x-openai-is-consequential": false,
        "security": [ { "bearerAuth": [] } ],
        "responses": {
          "200": {
            "description": "Supported executors, the default executor, and the alias map.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExecutorsResponse" },
                "examples": {
                  "default_capabilities": {
                    "summary": "Default capability set",
                    "value": {
                      "supported_executors": ["claude-code-cli", "hermes"],
                      "default_executor": "claude-code-cli",
                      "aliases": {
                        "claude_code": "claude-code-cli",
                        "claude-code": "claude-code-cli",
                        "claudecode": "claude-code-cli"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing or invalid bearer token." }
        }
      }
    },
    "/runs/executor": {
      "post": {
        "summary": "Dispatch a run to an explicit executor and return the full evidence envelope.",
        "operationId": "aee_executor_run",
        "x-openai-is-consequential": true,
        "security": [ { "bearerAuth": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExecutorRunRequest" },
              "examples": {
                "claude_code_cli": {
                  "summary": "Run the real Claude Code CLI",
                  "value": {
                    "executor": "claude-code-cli",
                    "prompt": "Use the write tool to create /tmp/aee_executor_smoke.md with content: hello from claude-code-cli",
                    "expected_artifacts": ["/tmp/aee_executor_smoke.md"],
                    "timeout_sec": 120
                  }
                },
                "hermes_legacy": {
                  "summary": "Route to the legacy Hermes provider",
                  "value": {
                    "executor": "hermes",
                    "prompt": "Summarize the current AEE runtime status.",
                    "timeout_sec": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run dispatched; full evidence envelope returned. status=completed for claude-code-cli (sync); status=queued for hermes (async).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExecutorRunResponse" },
                "examples": {
                  "claude_code_cli_completed": {
                    "summary": "Real Claude Code CLI run completed",
                    "value": {
                      "selected_executor": "claude-code-cli",
                      "requested_executor": "claude-code-cli",
                      "run_id": "claude-cli-2322a3f2af5e",
                      "task_id": null,
                      "status": "completed",
                      "progress": 1.0,
                      "routing": {
                        "requested_executor": "claude-code-cli",
                        "selected_executor": "claude-code-cli",
                        "effective_executor": "claude-code-cli",
                        "selection_source": "explicit",
                        "was_forced": false,
                        "reason": "explicit_executor_opt_in",
                        "effective_model": null
                      },
                      "artifact_paths": ["/tmp/aee_executor_smoke.md"],
                      "stdout_summary": "Created `/tmp/aee_executor_smoke.md` with the content `hello from claude-code-cli`.\n",
                      "stderr_summary": "",
                      "exit_code": 0,
                      "timeout_state": null,
                      "cancel_state": null,
                      "git_evidence": {
                        "head_sha": "869a77f1b019dd23b6732dffdbd11676d2bc6583",
                        "branch": "master",
                        "dirty": true,
                        "staged_file_count": 1,
                        "repo_path": "/home/ubuntu/Abacus"
                      },
                      "artifact_verification": [
                        {
                          "path": "/tmp/aee_executor_smoke.md",
                          "exists": true,
                          "size": 26,
                          "mtime": 1784613935,
                          "sha256": "9b3a23cbaa104b4f1dc3ccf35d714bface1d32cdc110de7162a939e08c91651f"
                        }
                      ],
                      "telegram_result": { "success": false, "skipped": "TELEGRAM_BOT_TOKEN / TELEGRAM_CHAT_ID not configured in bridge env" },
                      "runtime_identity": {
                        "provider": "Claude Code",
                        "provider_version": "2.1.216 (Claude Code)",
                        "executor_binary": "/home/ubuntu/.local/bin/claude",
                        "executor_version": "2.1.216 (Claude Code)",
                        "runtime_bridge_version": "unknown",
                        "bridge_commit": "07aefcb91fa11bd8dc6c8f4814ca3bc1fdb715d7",
                        "bridge_branch": "master",
                        "bridge_repository": "/home/ubuntu/hermes-runtime-bridge",
                        "generated_at_utc": "2026-07-21T06:40:37Z"
                      },
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsupported executor (or disallowed repo_path). Deterministic validation error with a stable code.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UnsupportedExecutorError" },
                "examples": {
                  "unsupported_executor": {
                    "summary": "Unsupported executor value",
                    "value": {
                      "code": "unsupported_executor",
                      "message": "executor 'gemini' is not supported; accepted aliases canonicalise to 'claude-code-cli' or 'hermes'",
                      "supported_executors": ["claude-code-cli", "hermes"]
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing or invalid bearer token." },
          "422": { "description": "Malformed request body (pydantic validation)." }
        }
      }
    },
    "/runs/{run_id}": {
      "get": {
        "summary": "Read-only poll of a run's current and final state.",
        "description": "Read-only run status poll. Returns the canonical envelope for any run dispatched via POST /runs/executor (the executor_runs store) or any legacy dispatcher-tracked Hermes run (the tasks table). Does NOT launch a new executor, mutate run state, or scan the repo. Use this to poll a run_id returned by POST /runs/executor until is_terminal is true. Unknown run_id returns a deterministic JSON 404; malformed run_id returns a deterministic JSON 400.",
        "operationId": "aee_get_run_status",
        "x-openai-is-consequential": false,
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "minLength": 1, "maxLength": 200, "pattern": "^[A-Za-z0-9][A-Za-z0-9_.\\-]*$" },
            "description": "The run identifier returned by POST /runs/executor (e.g. 'claude-cli-2322a3f2af5e' or 'run_5f346ad4dd7c4f27beaefccec65c5175')."
          }
        ],
        "responses": {
          "200": {
            "description": "Run found; canonical envelope returned.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RunStatusResponse" },
                "examples": {
                  "claude_code_cli_completed": {
                    "summary": "Completed claude-code-cli run",
                    "value": {
                      "run_id": "claude-cli-2322a3f2af5e",
                      "requested_executor": "claude-code-cli",
                      "selected_executor": "claude-code-cli",
                      "task_id": null,
                      "status": "completed",
                      "progress": 1.0,
                      "exit_code": 0,
                      "timeout_state": null,
                      "cancel_state": null,
                      "stdout_summary": "Created /tmp/aee_executor_smoke.md",
                      "stderr_summary": "",
                      "artifact_paths": ["/tmp/aee_executor_smoke.md"],
                      "artifact_verification": [
                        { "path": "/tmp/aee_executor_smoke.md", "exists": true, "size": 26, "mtime": 1784613935, "sha256": "9b3a23cbaa104b4f1dc3ccf35d714bface1d32cdc110de7162a939e08c91651f" }
                      ],
                      "git_evidence": { "head_sha": "869a77f1b019dd23b6732dffdbd11676d2bc6583", "branch": "master", "dirty": false, "staged_file_count": 0, "repo_path": "/home/ubuntu/Abacus" },
                      "telegram_result": { "success": false, "skipped": "TELEGRAM_BOT_TOKEN / TELEGRAM_CHAT_ID not configured in bridge env" },
                      "runtime_identity": {
                        "provider": "Claude Code",
                        "provider_version": "2.1.216 (Claude Code)",
                        "executor_binary": "/home/ubuntu/.local/bin/claude",
                        "executor_version": "2.1.216 (Claude Code)",
                        "runtime_bridge_version": "unknown",
                        "bridge_commit": "07aefcb91fa11bd8dc6c8f4814ca3bc1fdb715d7",
                        "bridge_branch": "master",
                        "bridge_repository": "/home/ubuntu/hermes-runtime-bridge",
                        "generated_at_utc": "2026-07-21T06:40:37Z"
                      },
                      "routing": { "requested_executor": "claude-code-cli", "selected_executor": "claude-code-cli", "effective_executor": "claude-code-cli", "selection_source": "explicit", "was_forced": false, "reason": "explicit_executor_opt_in", "effective_model": null },
                      "error": null,
                      "created_at": "2026-07-22T10:00:00Z",
                      "updated_at": "2026-07-22T10:00:05Z",
                      "completed_at": "2026-07-22T10:00:05Z",
                      "source": "executor_runs",
                      "is_terminal": true
                    }
                  },
                  "hermes_queued": {
                    "summary": "Queued hermes async run",
                    "value": {
                      "run_id": "run_5f346ad4dd7c4f27beaefccec65c5175",
                      "requested_executor": "hermes",
                      "selected_executor": "hermes",
                      "task_id": null,
                      "status": "queued",
                      "progress": 0.0,
                      "exit_code": null,
                      "timeout_state": null,
                      "cancel_state": null,
                      "stdout_summary": "",
                      "stderr_summary": "",
                      "artifact_paths": [],
                      "artifact_verification": [],
                      "git_evidence": null,
                      "telegram_result": { "success": false, "skipped": "hermes is async; per-run telegram not sent on submit" },
                      "runtime_identity": null,
                      "routing": { "requested_executor": "hermes", "selected_executor": "hermes", "effective_executor": "hermes", "selection_source": "explicit", "was_forced": false, "reason": "explicit_executor_opt_in", "effective_model": null },
                      "error": null,
                      "created_at": "2026-07-22T10:00:00Z",
                      "updated_at": "2026-07-22T10:00:00Z",
                      "completed_at": null,
                      "source": "executor_runs",
                      "is_terminal": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed run_id (deterministic JSON 400).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MalformedRunIdError" },
                "examples": {
                  "malformed_run_id": {
                    "summary": "Malformed run_id",
                    "value": { "code": "malformed_run_id", "message": "run_id 'run with spaces' is not a valid run identifier; expected a non-empty token of printable, non-slash chars" }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing or invalid bearer token." },
          "404": {
            "description": "Unknown run_id (deterministic JSON 404).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UnknownRunIdError" },
                "examples": {
                  "unknown_run_id": {
                    "summary": "Unknown run_id",
                    "value": { "code": "unknown_run_id", "message": "run_id 'run_does_not_exist_abc123' not found in executor_runs or tasks", "run_id": "run_does_not_exist_abc123" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}